<main class="w-full max-w-5xl mx-auto flex flex-col gap-8 px-4 md:pt-16">
  <div @fadeInTop class="flex flex-col gap-16">
    <section id="recipes-header">
      <app-header />
    </section>
    @if (recipeSrv.hasRecipe()) {
      <section id="recipes-inputs">
        <app-single-accordion accTitle="Do you want to generate a new recipe?">
          <div class="flex flex-col gap-4 px-2">
            <app-ingredient-addition />
            <div id="recipes-data_list">
              <app-ingredient-container />
            </div>
          </div>
        </app-single-accordion>
      </section>
    } @else {
      <section id="recipes-inputs">
        <div class="flex flex-col gap-6">
          <app-ingredient-addition />
          <div id="recipes-data_list">
            <app-ingredient-container />
          </div>
        </div>
      </section>
    }
  </div>
  <section id="recipes-data" class="flex flex-col gap-6">
    <div id="recipes-data_response">
      <app-recipe />
    </div>
  </section>
</main>
